<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somalia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{url_for('static',filename='styles/country.css')}}">

  

</head>
<body>
    <div class="container">
        <div class="navigation">
            <nav>
                <li><a href="/">Explore</a></li>
                <li><a href="/#funds">Fundraise</a></li>
                <li><a href="/#volunteer">Volunteer</a></li>
                <li><a href="/story">Blogs</a></li>
            </nav>
        </div>
        <h1>Somalia</h1>
        <div class="stats">
            <p>Statistics of this country :</p>
        <li>Income Group: 5 (LOW INCOME)</li>
        <li>Economy : 7 (LEAST DEVELOPED)</li>
        <li>Mortality rate : 132.5</li>
        <li>Probability of dying young : 24.1%</li>
        </div>

        <div class="country-image">
            <img src="https://plus.unsplash.com/premium_photo-1675367606800-c8efe74c3d5f?q=80&w=1523&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        </div>
        <div class="help">
            <button><a href="/story">Donate</a></button>
            <button><a href="https://www.who.int/careers/un-volunteers-programme">Volunteer</a></button>
        </div>
       
    </div>
    <div class="wave" style="margin-top: 10%;">
        <img src="{{url_for('static',filename='assets/waveFinal.png')}}" style="transform: rotate(180deg);">
    </div>
    
    

    <div class="container border border-2 rounded-2 border-success">
        <div class="container text-center ">
            <div class="ps-3">
                <div class="fs-3 text-dark py-1">THE BEAUTY OF SOMALIA</div>
            </div>
        </div>

        <div id="carouselExampleControls" class="carousel carousel-dark slide mb-3" data-bs-ride="carousel">
            <div class="carousel-inner p-5">
                <div class="carousel-item active">
                    <div class="card-wrapper container-sm d-flex  justify-content-around px-5">
                        <div class=" card pointer " style="width: 18rem; height: 20rem;">
                            <img src="https://images.unsplash.com/photo-1660519167902-42fa6857567c?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Jazeera Beach</h5>
                                <footer class="blockquote-footer mt-4"> <cite title="Source Title">Saacid Ahmed</cite>
                                </footer>


                            </div>
                        </div>
                        <div class=" card pointer " style="width: 18rem; height: 20rem;">
                            <img src="https://images.unsplash.com/photo-1695372999310-0561a4412a76?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Australian War Memorial</h5>
                                <footer class="blockquote-footer mt-4"> <cite title="Source Title">Ayo Balogun</cite>
                                </footer>


                            </div>
                        </div>
                        <div class=" card pointer " style="width: 18rem; height: 20rem;">
                            <img src="https://images.unsplash.com/photo-1502088513349-3ff6482aa816?q=80&w=1519&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Masai Mara</h5>
                                <footer class="blockquote-footer mt-4"> <cite title="Source Title">Pop & Zebra</cite>
                                </footer>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-wrapper container-sm d-flex   justify-content-around px-5">
                        <div class=" card pointer " style="width: 18rem; height: 20rem;">
                            <img src="https://images.unsplash.com/photo-1499604762713-81ebb3ef7604?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Pygmy Forests: Life in Central Africa's Canopy</h5>
                                <footer class="blockquote-footer mt-4"> <cite title="Source Title">Kofi Annan</cite>
                                </footer>


                            </div>
                        </div>
                        <div class=" card pointer " style="width: 18rem; height: 20rem;">
                            <img src="https://images.pexels.com/photos/5702144/pexels-photo-5702144.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Old Mogadhisu</h5>
                                <footer class="blockquote-footer mt-4"> <cite title="Source Title">Yahye Somali</cite>
                                </footer>


                            </div>
                        </div>
                        
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div class="container border border-2 rounded-2 border-success my-3">
        <div class="container text-center ">
            <div class="ps-3">
                <div class="fs-3 text-dark py-1">THE NGO's Of Somalia</div>
            </div>
        </div>
        <div class="container px-5 pt-5 pb-2" style="height: 50%; width: 80%;">
            <div id="carouselExampleDark" class="carousel carousel-dark slide">

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="https://oi-files-cng-prod.s3.amazonaws.com/heca.oxfam.org/s3fs-public/styles/node-full/public/OGB_116638_Somalia%20Drought%20response%20(1).jpg?itok=PD_FRIYW"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block text-light">
                            <h5 style="text-shadow: 2px 2px 1px #000000;">Oxfam in Horn</h5>
                            <p style="text-shadow: 2px 2px 1px #000000;">Oxfam NGO is the best non profit organization working to support child education, empowering women</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://qaranjobs.com/wp-content/uploads/2023/12/SaferWorld.png"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block text-light">
                            <h5 style="text-shadow: 2px 2px 1px #000000;">saferworld</h5>
                            <p style="text-shadow: 2px 2px 1px #000000;">Saferworld is an independent international organisation. For over 30 years we have worked to prevent violent conflict and build safer lives. 
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.ukwa.org.uk/wp-content/uploads/2022/07/Crown-Agents-Logo.jpg"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block text-light">
                            <h5 style="text-shadow: 2px 2px 1px #000000;">Crown Agents</h5>
                            <p style="text-shadow: 2px 2px 1px #000000;">Crown Agents is the not-for-profit international development company that works in partnership with clients 
                                to hope.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" style="margin-top: 35%;" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" style="margin-top: 35%;" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>